<?xml version="1.0"?>

<robot name="bot3" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- <transmission name="wheel_front_left_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuators name="front_left_wheel_motor" role = "actuator_front_left"/>
        <joint name="wheel_front_left_joint" role="joint_front_left">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="wheel_front_right_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuators name="front_right_wheel_motor" role = "actuator_front_right"/>
        <joint name="wheel_front_right_joint" role="joint_front_right">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="wheel_rear_left_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuators name="rear_left_wheel_motor" role = "actuator_rear_left"/>
        <joint name="wheel_rear_left_joint" role="joint_rear_left">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="wheel_rear_right_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuators name="rear_right_wheel_motor" role = "actuator_rear_right"/>
        <joint name="wheel_rear_right_joint" role="joint_rear_right">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission> -->

    <gazebo reference = "front_left_wheel_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>

    </gazebo>

    <gazebo reference = "front_right_wheel_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>

    </gazebo>

    <gazebo reference = "rear_left_wheel_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>

    </gazebo>

    <gazebo reference = "rear_right_wheel_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>                           
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>

    </gazebo>

    <gazebo>
        <plugin filename = "libgazebo_ros2_control.so" name = "gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find bot3_controllers)/config/bot3_controller.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
