<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00477772041971076 -0.00251785605746587 0.00492196170426952"
        rpy="0 0 0" />
      <mass
        value="14.4906967609298" />
      <inertia
        ixx="0.0790182977064169"
        ixy="-8.65517030098536E-17"
        ixz="-1.11100673600689E-17"
        iyy="0.310582068356655"
        iyz="2.10831794527565E-20"
        izz="0.237812017083757" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_wheel_link">
    <inertial>
      <origin
        xyz="0 -0.0153766758697323 0"
        rpy="0 0 0" />
      <mass
        value="0.240142238343612" />
      <inertia
        ixx="0.000166909128120098"
        ixy="-5.06121841627169E-21"
        ixz="5.11804217673643E-21"
        iyy="0.00029484987262983"
        iyz="-5.52812189115149E-22"
        izz="0.000166909128120098" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/front_left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/front_left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.17484 -0.15992 -0.0025179"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      effort="0"
      velocity="1" />
  </joint>
  <link
    name="front_right_wheel_link">
    <inertial>
      <origin
        xyz="-0.169976712676017 0.155 -4.77048955893622E-18"
        rpy="0 0 0" />
      <mass
        value="15.4512657143042" />
      <inertia
        ixx="0.0984119115142185"
        ixy="2.34187669256869E-17"
        ixz="-4.61135793368092E-17"
        iyy="0.266346659717226"
        iyz="5.80383655833859E-19"
        izz="0.357330925307406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/front_right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/front_right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.17484 0.15008 -0.0025179"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      effort="0"
      velocity="1" />
  </joint>
  <link
    name="rear_left_wheel_link">
    <inertial>
      <origin
        xyz="0 -0.0153766758697323 0"
        rpy="0 0 0" />
      <mass
        value="0.240142238343612" />
      <inertia
        ixx="0.000166909128120098"
        ixy="1.46545710546565E-21"
        ixz="-3.93555710983136E-37"
        iyy="0.00029484987262983"
        iyz="-7.3468396926393E-37"
        izz="0.000166909128120098" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/rear_left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/rear_left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_wheel_joint"
    type="continuous">
    <origin
      xyz="0.16266 -0.15992 -0.0025179"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="rear_left_wheel_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      effort="0"
      velocity="1" />
  </joint>
  <link
    name="rear_right_wheel_link">
    <inertial>
      <origin
        xyz="0 0.0153766758697323 4.33680868994202E-19"
        rpy="0 0 0" />
      <mass
        value="0.240142238343612" />
      <inertia
        ixx="0.000166909128120098"
        ixy="-1.07481224786164E-21"
        ixz="-1.5134854736165E-20"
        iyy="0.00029484987262983"
        iyz="-3.93639005374105E-21"
        izz="0.000166909128120098" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/rear_right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/rear_right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_wheel_joint"
    type="continuous">
    <origin
      xyz="0.16266 0.15008 -0.0025179"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="rear_right_wheel_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      effort="0"
      velocity="1" />
  </joint>
</robot>